/* logo start */

.logo-container {
  text-align: center;
  /* background-color:white ; */
  /* height: 10px;
  width: 10px; */
}

/* logo end */
html {
  background-color: #FFF;
  background-image: linear-gradient(to left,black,pink);
 
}

.img-data{
  mix-blend-mode: hard-light;
  mix-blend-mode: multiply;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 87%;
  background-image: linear-gradient(to left,black,pink);
  width: 100%;
}

/* Banner Overlay */
.image-banner {
  position: relative;
  max-width: 100%;

}

.image-banner img {
  display: block;
  margin-left: 20%;
  margin-right: 40%;
  width: 60%;
}

.back-image {
  background-image: url("../images/backgroundone.jpg");
  width: 100%;
  background-repeat: no-repeat;
}

.banner-description {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(143, 150, 173, 0.65);
  padding: 15px 25px;
  text-align: center;
  margin-left: 280px;
}


/* Site Navigation */

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 15px;
  align-items: center;

}

.site-nav ul a {
  color: black;
  text-decoration: none;
  padding: 1px 1px 1px 150px;
  text-align: center;
  align-items: center;
  transition-property: all;
  transition-duration: 4s;

  /* border-bottom: none;
    text-align: center;
    margin-bottom: 25px;
    float: left; */

}
/* End Site Navigation */
.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}


footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.image-size {
  max-width: 50%;
  max-height: 50%;
}

.all-image-size {
  max-width: 50%;
}


.new {
  position: relative;
}

.newa {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(143, 150, 173, 0.65);
  padding: 15px 25px;
  text-align: center;
  margin-left: 280px;
}

.newb {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(143, 150, 173, 0.65);
  padding: 10px 20px;
  text-align: center;
  margin-left: 110px;
  margin-top: 250px;

}

.newc {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(143, 150, 173, 0.65);
  padding: 15px 25px;
  text-align: center;
  margin-left: 280px;
}

.newd {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  background-color: rgba(143, 150, 173, 0.65);
  padding: 15px 25px;
  text-align: center;
  margin-left: 280px;
}


table th {
  text-align: left;
  background-color: #869960;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

table th,
table td {
  border: 1px solid #869960;
  padding: 10px;
  vertical-align: top;
}

table tbody tr:nth-child(even) td {
  background-color: #e5e9dc;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
  text-align: center;
}

table tbody tr:hover td {
  background-color: #e6dce9;
}


/* Form Styles */
form {
  padding: 30px 40px;
}

.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}

input,
select {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
  border: 1px solid #869960;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
}

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #869960;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #798a56;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535e3b;
  background-color: #798a56;
}

.images-size img {
  max-width: 40%;
  max-height: 100%;
  margin-left: 120px;
  padding-bottom: 10px;

}

.main-images-size img {
  max-width: 40%;
  max-height: 100%;
  margin-left: 80px;
  padding-bottom: 10px;
  /* margin-right: 50PX; */
  transition: all 1.7s;
}


.main-images-size:hover img {
  transform: scale(0.7);
}
.aimg {
  position: absolute;
  top: 385px;
  right: 750px;
  width: 200px;
  height: 50px;
  /* border: 3px solid black; */
  color: #FFF;
  font-style: italic;
  /* font-family: 'Times New Roman', Times, serif; */
/* background-color: red; */
}

.bimg {
  position: absolute;
  top: 385px;
  right: 270PX;
  width: 150px;
  height: 100px;
  color: white;
  font-style: italic;
  /* background-color: red; */
  /* border: 3px solid #ad3121; */
}

.cimg {
  position: absolute;
  top: 840px;
  right: 750PX;
  width: 200px;
  height: 100px;
  /* border: 3px solid #ad217e; */
  color: white;
  font-style: italic;
  /* background-color: red; */
}

.dimg {
  position: absolute;
  top: 840PX;
  right: 210PX;
  width: 200px;
  height: 100px;
  /* border: 3px solid #73AD21; */
  color: white;
  font-style: italic;
  /* background-color: red; */
}

.main-images-size-right img {
  max-width: 40%;
  max-height: 100%;
  text-align: end;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
}
/* .sprites{
  height: 200px;
  width: 50%;
  position: relative;
  top: -210px;
  left: 0;
} */

.side-nav{
  margin-bottom: 10px;
}
/* 
.side-nav li{
  list-style: none;
  margin-right: 450px;
  margin-top: -120px;
  float: right;
} */

.side-menu ul {
	margin: 0;
	padding: 0;
}

.side-menu li {
	float: left;
	list-style: none;
	/* margin-right: 10px; */
  margin-left: 190px;

}

.side-menu a {
	display: block;
	width: 100px;
	height: 100px;
	/* background-position: top left; */
	background-image: url(../images/Sprites-image.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.side-instagram a:hover {background-position: 0 -100px}

.side-twitter a {background-position: -100px 0;}
.side-twitter a:hover {background-position: -100px -100px;}

.side-facebook a {background-position: -200px 0}
.side-facebook a:hover {background-position: -200px -100px;} 

.right-side-display{
  display: flex;
}

/* Grid */
.row {
  margin-right: -20px;
}

.col {
  width: 100%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.col-xs-11 {
  width: 91.662%;
}
.col-xs-10 {
  width: 83.332%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.662%;
}
.col-xs-7 {
  width: 58.331%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.662%;
}
.col-xs-4 {
  width: 33.332%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.662%;
}
.col-xs-1 {
  width: 8.332%;
}

@media screen and (min-width: 768px) {
  .row {
    margin-right: -40px;
  }

  .col {
    padding-right: 40px;
  }

  .col-sm-11 {
    width: 91.662%;
  }
  .col-sm-10 {
    width: 83.332%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.662%;
  }
  .col-sm-7 {
    width: 58.331%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.662%;
  }
  .col-sm-4 {
    width: 33.332%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.662%;
  }
  .col-sm-1 {
    width: 8.332%;
  }
}

@media screen and (min-width: 1024px) {
  .col-md-11 {
    width: 91.662%;
  }
  .col-md-10 {
    width: 83.332%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.662%;
  }
  .col-md-7 {
    width: 58.331%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.662%;
  }
  .col-md-4 {
    width: 33.332%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.662%;
  }
  .col-md-1 {
    width: 8.332%;
  }
}

@media screen and (min-width: 1280px) {
  .col-lg-11 {
    width: 91.662%;
  }
  .col-lg-10 {
    width: 83.332%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.662%;
  }
  .col-lg-7 {
    width: 58.331%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.662%;
  }
  .col-lg-4 {
    width: 33.332%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.662%;
  }
  .col-lg-1 {
    width: 8.332%;
  }
}
.ok{
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  transform: scale(.2);
  transform: rotate(-5deg);
  border: 2px solid #d3dee7;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #798a56;
}
.ok1{
  transform: skewX(15deg);
}




/* Thumbnail Styles */
.thumbnails {
	margin-right: 30px;
}

.thumbnails a {
	float: left;
	width: 25%;
	box-sizing: border-box;
	padding-right: 20px;
	margin-bottom: 20px;
  margin-top: 20px;
}

.thumbnails img {
	width: 90%;
  height: 150px;
	display: block;
	transition: all .2s ease-in-out;
}

.thumbnails:hover img {
	opacity: .6;
	transform: scale(.92);
}

.thumbnails:hover img:hover {
	opacity: 1;
	transform: scale(1) rotate(-15deg);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 767px) {
	
	.thumbnails a {
		width: 50%;
	}
	
}
