

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: rgb(17, 15, 15);
	
	background-color: cadetblue;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	
	color:black ;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {

	background-color: azure;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;

	color:black;
	font-size: 1.25rem;
}


#new-task-submit {

	color:blue;
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;

}



main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;

	color: black;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	
	background-color: rgb(143, 151, 151);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}



.task .content .text {
	
	color:black;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}


.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	/* font-size: 1.125rem; */
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}




.task .actions .delete {
	color: crimson;
}
.task .actions .comp {
	color: rgb(39, 105, 31);
}
  input.comm {
	color: rgb(28, 29, 28);
	background-color: aliceblue;
}